@model IEnumerable<NMoneys.Web.Models.GroupedByInitialInBatches>

@{
	ViewBag.Title = "Currencies :: nMoneys";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
	<header class="login-form">
		<div class="row-fluid">
			<div class="span2"><img src="~/Content/img/search.png" /></div>
			<div class="span4"><h2>Search for currencies</h2></div>
		</div>
	</header>
	<form class="form-search">
		<span class="fui-search">&nbsp;</span>
		<input id="search-box" type="search" class="input-medium search-query" placeholder="Search...">
	</form>
</section>

<section class="container">
	@Html.DisplayFor(g => Model)
</section>

@section scripts
{
	@Scripts.Render("~/bundles/app_currencies")
}
