@model dynamic

@{
	ViewBag.Title = "nMoneys";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
	<h2>@ViewBag.Header</h2>
	<ul>
		@foreach (NMoneys.Currency currency in ViewBag.Currencies)
		{
			<li>@string.Join(" | ", currency.EnglishName, currency.NativeName, currency.Symbol)</li>
		}

	</ul>
</section>
