@model IEnumerable<NMoneys.Web.Models.GroupedByInitialInBatches>

@{
	ViewBag.Title = "nMoneys";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
	<form class="form-search">
		<span class="fui-search">&nbsp;</span>
		<input id="search-box" type="search" class="input-medium search-query" placeholder="Search...">
	</form>
</section>

<section class="container">
	@Html.DisplayFor(g => Model)
</section>

@section scripts
{
	@Scripts.Render("~/bundles/app_currencies")
}
