@model IEnumerable<NMoneys.Web.Models.GroupedByInitialInBatches>

@{
	ViewBag.Title = "nMoneys";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
	<h2>@ViewBag.Header</h2>
	@Html.DisplayFor(g => Model)
</section>
