header, footer, nav, section {
	display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

textarea {
	min-height: 75px;
}

/* Flat UI overrides
-----------------------------------------------------------*/

/* fonts live in a different folder */
@font-face {
	font-family: 'Flat-UI-Icons';
	src: url('fonts/Flat-UI-Icons.eot');
	src: url('fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('fonts/Flat-UI-Icons.woff') format('woff'), url('fonts/Flat-UI-Icons.ttf') format('truetype'), url('fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
}

/* first nav item should not be rounded as we have a brand element*/
.navbar .nav > li:first-child > a {
	border-radius: 0;
}

/* give space at the bottom of call-out */
.login-form {
	margin-bottom: 30px;
	margin-top: 30px;
	min-height: 50px;
	text-align: center;
}

.tile {
	margin-bottom: 10px;
}

.form-search {
	font-size: 24px;
}

.form-horizontal .control-label {
	padding-top: 10px;
}

legend {
	color: inherit;
	font-size: 18px;
}


/* Custom styles
-----------------------------------------------------------*/
nav {
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 6px;
}

iframe{ border-width: 0;}

.tabulated {
	display: table;
}

.cell {
	display: table-cell;
	vertical-align: middle;
}

.snapshot {
	text-align: left;
}

	.snapshot .alphabetic-code {
		margin-right: 5px;
	}

	.snapshot .symbol {
		padding-left: 12px;
		text-align: left;
	}

	.snapshot .numeric-code {
		padding-left: 12px;
		text-align: left;
	}

	.snapshot .english-name {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0;
		padding: 0;
	}

	.snapshot .native-name {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0;
		padding: 0;
	}

.highlight {
	background-color: #f1c40f;
}

.nav-tabs em { font-size: smaller;}
.confirmation-errors { padding-bottom: 0;}
.api-steps ul { list-style: none; }
