header, footer, nav, section {
	display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}

/* Flat UI overrides
-----------------------------------------------------------*/

/* fonts live in a different folder */
@font-face {
	font-family: 'Flat-UI-Icons';
	src: url('fonts/Flat-UI-Icons.eot');
	src: url('fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('fonts/Flat-UI-Icons.woff') format('woff'), url('fonts/Flat-UI-Icons.ttf') format('truetype'), url('fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
}

/* first nav item should not be rounded as we have a brand element*/
.navbar .nav > li:first-child > a {
	border-radius: 0;
}

/* give space at the bottom of call-out */
.login-form {
	margin-bottom: 30px;
	margin-top: 30px;
	min-height: 50px;
	text-align: center;
}

.row-of-tiles{ margin-bottom: 20px;}

.tabulated { display: table; }
.cell { display: table-cell; vertical-align: middle;}
.snapshot { text-align: left;}
.snapshot .alphabetic-code { margin-right: 5px;}
.snapshot .symbol { padding-left: 10px;}
.snapshot .numeric-code { padding-left: 10px;}
.snapshot .english-name { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;margin: 0;padding: 0; }
.snapshot .native-name { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0;padding: 0;}

