@model NMoneys.Web.Models.GroupedByInitialInBatches
<article class="row-fluid">

	<h3>@Model.Initial</h3>
	@foreach (var batch in Model.BatchedSnapshots)
	{
		@Html.DisplayFor(m => batch)
	}
</article>
