<section>
	<h2><a id="Doc"></a>Documentation<a href="#Doc"></a></h2>
	<p>Still unsure?<br />
		Would dive into its documentation help to request a key?</p>
	<div class="row-fluid">
		<div class="accordion span7" id="documentation">
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4 class="accordion-toggle" data-toggle="collapse" data-parent="#documentation" data-target="#apiary">Apiary
					</h4>
				</div>
				<div id="apiary" class="collapse in">
					<div class="accordion-inner">
						<p>Good-looking, interactive documentation is hosted in <a href="http://apiary.io/" target="_blank">Apiary</a>.</p>
						<a class="btn" href="http://docs.nmoneys.apiary.io" target="_blank">Check it out!</a>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4 class="accordion-toggle" data-toggle="collapse" data-parent="#documentation" data-target="#metadata">Local Metadata
					</h4>
				</div>
				<div id="metadata" class="collapse">
					<div class="accordion-inner">
						<p>Good-looking enough and definitely less interactive but equally useful is provided by <a href="http://www.servicestack.net/">ServiceStack</a>.</p>
						<div class="btn-group">
							<a class="btn" href="api/json/metadata?op=Currencies" target="_blank">Currencies</a>
							<a class="btn" href="api/json/metadata?op=Currency" target="_blank">Currency</a>
							<a class="btn" href="api/json/metadata?op=Format" target="_blank">Format</a>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4 class="accordion-toggle" data-toggle="collapse" data-parent="#documentation" data-target="#swagger">Swagger
					</h4>
				</div>
				<div id="swagger" class="collapse">
					<div class="accordion-inner">
						<p>Very interactive <a href="https://github.com/wordnik/swagger-core">Swagger</a> documentation is on its way.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
