<section>
	<div class="row-fluid">
		<article class="span4">
			<h3>Simple</h3>
			<p>APIs should be simple to use.</p>
			<p>And so, <em>NMoneys</em> comes with a simple, yet functional web api.</p>
		</article>
		<article class="span4">
			<h3>Functional</h3>
			<ul>
				<li>Getting an subset of all the currencies that are supported.</li>
				<li>Get extended information about single currencies.</li>
				<li>Formatting numeric quantities.</li>
			</ul>
		</article>
		<article class="span4">
			<h3>Developer Friendly</h3>
			<p>Developers make best customers. And APIs should make them happy.</p>
			<p><em>NMoneys</em> comes with an API crafted by developers for developers</p>
		</article>
	</div>
	<div class="row-fluid">
		<article class="span4">
			<h3>Built for Performance</h3>
			<p>Blazing fast access that takes advantage of HTTP's cache.</p>
		</article>
		<article class="span4">
			<h3>Built for Concurrency</h3>
			<p>Using standard call throttling techniques, the API will perform even under high load of concurrent clients.</p>
		</article>
		<article class="span4">
			<h3>Make it Your Own</h3>
			<p><em>NMoneys</em> API calls are tied to your own key to prevent abuse.</p>
		</article>
	</div>
	<div class="row-fluid">
		<article class="span4">
			<h3>Affordable</h3>
			<p><em>NMoneys</em> API keys are free to request and their usage won't break the bank at <strong>0&curren; a month</strong>.</p>
		</article>
		<article class="span4">
			<h3>Discoverable</h3>
			<p>APIs should explain themselves.</p>
			<p><em>NMoneys</em> API does. Explore it using Hypermedia techniques.</p>
		</article>
		<article class="span4">
			<h3>Documented</h3>
			<p>On top of its self-discoverability, <em>NMoneys</em> API is fully documented with up-to-date, sensible, executable documentation.</p>
		</article>
	</div>
</section>
