<section>
	<div class="row-fluid">
		<article class="span4">
			<h3>Simple</h3>
			<p><em>NMoneys</em> comes with a simple to use, yet functional web api.</p>
		</article>
		<article class="span4">
			<h3>Functional</h3>
			<ul>
				<li>Getting information about supported currencies.</li>
				<li>Formatting numeric quantities.</li>
			</ul>
		</article>
		<article class="span4">
			<h3>Developer Friendly</h3>
			<p><em>NMoneys</em> comes with an API crafted by developers for developers.</p>
		</article>
	</div>
	<div class="row-fluid">
		<article class="span4">
			<h3>Built for Performance</h3>
			<p>Blazing fast access that takes advantage of HTTP's cache.</p>
		</article>
		<article class="span4">
			<h3>Built for Concurrency</h3>
			<p>Using standard call throttling techniques, API performance is ensured.</p>
		</article>
		<article class="span4">
			<h3>Affordable</h3>
			<p><em>NMoneys</em> API keys are free to request and their usage won't break the bank at <strong>0&curren; a month</strong>.</p>
		</article>
	</div>
	<div class="row-fluid">
		
		<article class="span4">
			<h3>Discoverable</h3>
			<p><em>NMoneys</em> API does explain itself: its usage can be instrospected by using it.</p>
		</article>
		<article class="span4">
			<h3>Documented</h3>
			<p><em>NMoneys</em> API is fully documented with up-to-date, sensible, executable documentation.</p>
		</article>
	</div>
</section>
