@model NMoneys.Web.Models.ApiRequest
@using (Html.BeginForm("Index", "WebApi", FormMethod.Post, new { @class = "form-horizontal", novalidate = "novalidate" }))
{
	<fieldset>
		<legend>Request an API key</legend>
		<div class="control-group">
			@Html.LabelFor(m => m.Email, new { @class = "control-label" })
			<div class="controls">
				@Html.TextBoxFor(m => m.Email, new { placeHolder = "Email", data_type = "email", data_required = "true" })
				@Html.ValidationMessageFor(m => m.Email)
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-primary" value="Submit" />
			</div>
		</div>
	</fieldset>
}