@model NMoneys.Web.Models.ApiRequest
<div class="alert alert-block alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Thank you!</strong> You'll be shortly receiving an email with the instructions to activate your API key.<br/>
	Enjoy responsibly our API and do not forget to read the <a href="#Doc">documentation</a>.
</div>
