@model NMoneys.Web.Models.ApiRequest

@{
	ViewBag.Title = "nMoneys";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container">

	<header class="login-form">
		<div class="row-fluid">
			<div class="span2"><img src="~/Content/img/api.png" /></div>
			<div class="span4"><h2>Do with an API</h2></div>			
		</div>
	</header>
	<p>
		Nowadays, a web application is not <em>feature complete</em> unless some sort of REST-y/ Web-ish/ JSON-able API is provided.<br/>
		Welcome to the API economy :-)
	</p>
	<hr />
	<section>
		<h2>Want to use it?</h2>
		<p>Instead of being told&hellip;</p>
		<p>&hellip; why don't you request an API key?</p>
		<p>The process is straightforward, it is as inexpensive as being free and, you are not going to be spammed or your data sold to any 3rd party.<br />
			Never</p>
		@{
			Html.RenderPartial(Model.Requested ? "_requested" : "_requestForm", Model);
		}
	</section>
	<hr />
	@{Html.RenderPartial("_features");}
	<hr/>
	@Html.Partial("_documentation")
	<hr/>
</section>

@section scripts
{
	@Scripts.Render("~/bundles/parsley")
	@Scripts.Render("~/bundles/app_api")
}
