<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections />
	<connectionStrings />
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="false" />
		<add key="ClientValidationEnabled" value="false" />
		<add key="UnobtrusiveJavaScriptEnabled" value="false" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="None" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="Microsoft.Web.Mvc" />
			</namespaces>
		</pages>
		<caching>
			<outputCache enableOutputCache="false" />
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="snapshots" duration="43200" location="Any" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<staticContent>
			<mimeMap fileExtension=".cs" mimeType="text/plain" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<location path="Content/src">
		<system.webServer>
			<security>
				<requestFiltering>
					<fileExtensions>
						<remove fileExtension=".cs" />
						<add fileExtension=".cs" allowed="true" />
					</fileExtensions>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>